.wrapper {
  position: relative;
}

.filter__button {
  /*composes: btn-text from '/src/UI/Button/button.module.css';*/
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  background: transparent;
  cursor: pointer;
  color: #fff;
  margin-right: 10px;
  transition: all 0.1s;
}

.filter__button:hover {
  border-color: rgb(217, 182, 255);
  color: rgb(217, 182, 255);
}

.active {
  border-color: rgb(154, 72, 241);
  color: rgb(182, 114, 255);
}

.dropdown {
  position: absolute;
  top: 49px;
  left: 0;
  background: #313131;
  border-radius: 12px;
  padding: 34px;
  z-index: 10;
  overflow: hidden;
}

.list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 28px;
  height: max-content;
  max-height: 237px;
  overflow-y: auto;
  width: max-content;
  max-width: 180px;
}

.list::-webkit-scrollbar {
  width: 4px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
}

.item {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.item:hover {
  color: rgb(217, 182, 255);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.itemSelected {
  font-weight: bold;
  color: rgb(182, 114, 255);
}
