.wrapper {
  width: 100%;
  min-height: 100%;
  background-color: #181818;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.main {
  height: 100vh;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.centerblock {
  width: auto;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 20px 40px 20px 111px;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

.code {
  font-size: 160px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 12px;
}

.title {
  display: flex;
  gap: 8px;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: 18px;
  opacity: 0.65;
  font-weight: 400;
  margin-bottom: 20px;
  color: #4e4e4e;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 278px;
  height: 52px;
  padding: 0 20px;
  border-radius: 8px;
  background: rgb(88, 14, 162);
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.button:hover {
  background-color: rgb(63, 0, 125);
}

.button:active {
  background-color: rgb(39, 26, 88);
}

.userblock {
  max-width: 418px;
  padding: 20px 90px 20px 78px;
}
