@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.sidebar__block {
  padding: 240px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar__item {
  width: 250px;
  height: 150px;
  background: linear-gradient(
    90deg,
    rgba(49, 49, 49, 1) 0%,
    rgba(61, 61, 61, 1) 50%,
    rgba(49, 49, 49, 1) 100%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 2.5s ease-in-out infinite;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 30px;
}
